@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
:root {
  --font-title: 'Maven Pro', sans-serif;
  --font-text: 'Arial', sans-serif;
  --color-primary: #0cc5b7;
  --color-secondary: #2bd891;
  --color-gradient: linear-gradient(135deg, #0cc5b7 0%,#2bd891 100%);
  --color-gray: ##888;
  --color-dark: #000000;
  --color-white: #fff;
  --color-bluish: #026AA2;
  --color-light-bg: #eff7fa;
  --color-bg: rgba(219, 180, 106, 0.05);
}